<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wesalvator"> 

    <!-- Allows network requests in debug mode -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"  <!-- Allow HTTP requests during debugging -->
        android:networkSecurityConfig="@xml/network_security_config">
    </application>

</manifest>
