.custom-map-control {
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 34px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
.custom-map-control:hover {
    background-color: #f4f4f4;
}
